.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  padding: 8px;
  margin: 8px;
  border: 1px solid gray;
  border-radius: 4px;
  display: inline-block;
}

.card__title {
  text-align: center;
  font-weight: bold;
  color: black;
  margin-bottom: 4px;
}

.card__image-wrapper {
  width: 250px;
}

.card__price {
  background-color: green;
  color: white;
  border-radius: 4px;
  display: unset;
  padding: 1px 2px;
}

.card__image-wrapper img {
  width: 250px;
}

.card-form {
  margin-top: 8px;
}

.card-form__actions {
  margin-top: 8px;
}

.card-form__actions__reset {
  margin-left: 4px;
}
